SECRET_KEY= 'secret_key_django'
REDIS_URL = 'url_du_serveur_resis'
REDIS_PASSWORD ='mot_de_passe_de_redis'
REDIS_ENABLED = 'True/False' # pour activer redis dans le cas contraire il utilisera les caches native de django